<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.network.unnissadmin">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />
    <meta-data
        android:name="pro.farmerShepherd.diary.app.MyAppGlideModule"
        android:value="GlideModule" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="pro.network.unnissadmin.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/unniss"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/unniss"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="pro.network.unnissadmin.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNowhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pro.network.unnissadmin.NaviActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeActionBar"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBufZZ6hR1jYcnwqXg2egbpvCU8Vbd2UU0" />

        <activity
            android:name="pro.network.unnissadmin.product.MainActivityProduct"
            android:label="@string/app_name"
            android:theme="@style/AppThemeSe.NoActionBar">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name="pro.network.unnissadmin.banner.MainActivityBanner"
            android:label="@string/app_name"
            android:theme="@style/AppThemeSe.NoActionBar">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name="pro.network.unnissadmin.order.MainActivityOrder"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNowhite">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>

        <activity
            android:name="pro.network.unnissadmin.product.ProductRegister"
            android:label="Stock Register"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.unnissadmin.banner.BannerRegister"
            android:label="Banner Upload"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.unnissadmin.product.ProductUpdate"
            android:label="Stock Update"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.unnissadmin.categories.CategoriesRegister"
            android:label="categories Register"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="pro.network.unnissadmin.news.NewsRegister"
            android:label="அறிவிப்பு"
            android:theme="@style/AppThemeWhite" />

        <activity
            android:name="pro.network.unnissadmin.categories.CategoriesUpdate"
            android:label="categories Update"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="pro.network.unnissadmin.order.SingleOrderPage"
            android:label="single product"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="pro.network.unnissadmin.categories.MainActivityCategories"
            android:label="categories Main"
            android:theme="@style/AppThemeSe.NoActionBar" />

        <activity
            android:name="pro.network.unnissadmin.pincode.PincodeRegister"
            android:label="categories Main"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="pro.network.unnissadmin.pincode.PincodeUpdate"
            android:label="categories Main"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="pro.network.unnissadmin.pincode.MainActivityPincode"
            android:label="categories Main"
            android:theme="@style/AppThemeSe.NoActionBar" />
        <activity android:name="pro.network.unnissadmin.app.ActivityMediaOnline" />

        <service
            android:name="pro.network.unnissadmin.app.FirebaseMessageReceiver"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="pro.network.unnissadmin.app.GenericFileProvider"
            android:authorities="pro.network.unnissadmin.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>